<div class="main">

    <h1 class="title">BECAJAVA2020</h1>
    <div class="label-user-data">
        <img src="assets/resources/images/screen-2/image-user.png" alt="{image.user}">
        <p>José Lobos Sanhueza</p>
    </div>
    <div class="menu">
        <ul>
            <app-category-information></app-category-information>
        </ul>
    </div>
    <div class="logout">
        <a routerLink="/">
            <p>Cerrar sesión</p>
            <img src="assets/resources/images/login/log-out.svg" alt="{image.log-out}">
        </a>
    </div>

</div>