<div class="flex-container">

    <div class="title">
        <p>Categoría 1</p>
    </div>

    <div class="data-select">
        <a href="">Selecciona un reporte</a>
        <a href="" class="button">Acceder</a>
    </div>

    <div class="data-input">
        <p>Información requerida</p>
        <div class="data-input__inputs">
            <a href="">Ingrese período</a>
            <a href="">Ingrese parámetro 1</a>
            <a href="">Ingrese parámetro 2</a>
            <a href="">Ingrese archivo</a>
        </div>
        <div class="data-input__buttons">
            <a href="" class="button">Planicar Reporte</a>
            <a href="" class="button">Ejecutar Reporte</a>
        </div>
    </div>

</div>